---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro'
import PostThumbnail from '../components/PostThumbnail.astro'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.sequence - a.data.sequence,
);
---

<BaseLayout page="Best Collections">
	<div class="grid grid-cols-4 gap-3">
	{posts.map(post => (
		<PostThumbnail post={post} />
	))}
	</div>
</BaseLayout>
