---
import { getCollection } from 'astro:content';
import PostThumbnail from '../components/PostThumbnail.astro'

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.sequence - a.data.sequence,
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
		{posts.map(post => (
			<PostThumbnail post={post} />
		))}
		</div>
	</body>
</html>
