---
const { page, color = "#000" } = Astro.props;
---

<header class="flex flex-col bg-white shadow-lg  pt-5 xs:pt-7 sm:pt-10 md:pt-12  pb-4 xs:pb-5 sm:pb-8 md:pb-12">
    <div class="m-auto pb-2">
        <a href="/" class="text-4xl xs:text-5xl sm:text-6xl font-mono" style="color: #2A3439">
            <span style="color: #2A3439">J</span><span style="color: #2C363B">a</span><span style="color: #2D373C">n</span> <span style="color: #2A3439">J</span><span style="color: #2A3439">e</span><span style="color: #283133">l</span><span style="color: #2F383D">i</span><span style="color: #2D373C">n</span><span style="color: #2A3439">e</span><span style="color: #252F34">k</span>
        </a>
    </div>
    <div class="m-auto text-xl xs:text-2xl" style={`color: ${color}`}>
        {page}
    </div>
</header>