---
import type { ImageMetadata } from "astro";

const { images } = Astro.props;
---

<div class="grid grid-cols-2 xs:grid-cols-3 sm:grid-cols-4" id="gallery">
    {
        images.map((img: ImageMetadata) => (
        <a href={img.src} 
            data-pswp-width={img.width} 
            data-pswp-height={img.height} 
            target="_blank">
            <img src={img.src} alt="Image failed to load" loading="lazy" class="shadow-lg" />
        </a>
        ))
    }
</div>

<script>
    // Initialize PhotoSwipe
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        zoom: false,
        counter: false,
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>