---
const { images } = Astro.props;
---

<div class="grid grid-cols-4" id="gallery">
    {
        images.map((img: { src: string; w: number; h: number; }) => 
        <a href={img.src} 
            data-pswp-width={img.w} 
            data-pswp-height={img.h} 
            target="_blank">
            <img src={img.src} alt="Image failed to load" loading="lazy" class="shadow-lg" />
        </a>
        )
    }
</div>

<script>
    // Initialize PhotoSwipe
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>