---
import type { ImageMetadata } from "astro";
const { images } = Astro.props;
---

<div class="grid grid-cols-2 xs:grid-cols-3 sm:grid-cols-4" id="gallery">
    {
        images.map((img: ImageMetadata) => (
        <a href={img.src}
           data-pswp-width={2400} 
           data-pswp-height={1600} 
           data-cropped="true"
           target="_blank"
           style="max-height: 16.6667vw">
            <img src={img.src} alt="Image failed to load" loading="lazy" class="shadow-lg" style="overflow: hidden" />
        </a>
        ))
    }
</div>

<script>
    // Initialize PhotoSwipe 
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        zoom: false,
        loop: false,
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>

<!--
Example usage

import ImageGallery from "../../components/ImageGalleryLocal.astro";

import i01 from './images/01-2400p.jpg';
import i02 from './images/02-2400p.jpg';
import i03 from './images/03-2400p.jpg';
import i04 from './images/04-2400p.jpg';

<ImageGallery images={[
    i01,i02,i03,i04
]}/>
-->