---
import { Image } from "astro:assets";
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<!--
TODO:
 - Post title appears on image
 - coverFont
 - coverColor
 - Country flag in top right-corner

-->

<article>
  <a href={`/collections/${post.data.slug}`}>
      <img src={post.data.cover.src} alt="..." style="border-radius: 16px;" />
      {post.data.title}
  </a>
</article>