---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
<Head pageTitle="Jan Jelinek Photography" />
<body class="w-full h-full"> <!--  Raisin Black #212121 -->
	<Header page={page} />
	<main>
		<slot />
	</main>
</body>
</html>

<style>
	main {
		margin: auto;
		padding: 0 20%;
	}
</style>
