---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
<Head pageTitle="Jan Jelinek Photography" />
<body class="w-full h-full">
	<Header page={page} />
	<main class="px-[4%] sm:px-[8%] md:px-[12%] lg:px-[20%]">
		<slot />
	</main>
</body>
</html>