---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jan Jelinek Photography</title>
	</head>
	<body class="w-full h-full" style="background-color: #F8F8FF;"> <!--  Raisin Black #212121 -->
		<header class="flex flex-col pt-9 pb-9">
			<div class="m-auto pb-2">
				<a href="/" class="text-6xl font-mono" style="color: #2A3439">
					<span style="color: #2A3439">J</span><span style="color: #2C363B">a</span><span style="color: #2D373C">n</span> <span style="color: #2A3439">J</span><span style="color: #2A3439">e</span><span style="color: #283133">l</span><span style="color: #2F383D">i</span><span style="color: #2D373C">n</span><span style="color: #2A3439">e</span><span style="color: #252F34">k</span>
				</a>
			</div>
			<div class="m-auto text-2xl">
				Best Collections
			</div>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>

	main {
		margin: auto;
		padding: 0 20%;
	}
</style>
