---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import type { MarkdownLayoutProps } from 'astro';
import "../styles/global.css";

const { frontmatter } = Astro.props;

type Props = MarkdownLayoutProps<{
  title: string;
  color: string;
}>;
---

<!doctype html>
<html lang="en">
<Head pageTitle={frontmatter.title}/>
<body>
	<Header page={frontmatter.title} color={frontmatter.color} />
  <main>
    <slot />
  </main>
</body>
</html>